html{
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing:inherit;
}


/* div {
    max-width: ;
} */

/* img{
    max-width: 1200px;
    margin: 0 auto;
} */ 

header {
    background-color: black;
    width: 100%;
}

nav ul {
    padding:0;
    margin:0;
    display:flex;
    justify-content:flex-end;
   
}

nav ul li {
    padding-right:1rem;
    padding-left:1rem;
    margin:0;
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
    color: white;
}

/* Find a way to make everything at the top line up */
nav p {
    padding-right:1rem;
    padding-left:1rem;
    margin:0;
    display:block;
    text-align:left;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: white;
}

nav a:link,
nav a:visited{
    color:white;
    text-decoration: none;
}

nav a:hover,
nav a:focus{
    color:#aad7d2;
    text-decoration: none;
}

nav img {
    width:100%;
    padding: 2.5rem ;
    background-color: black;
}


.about {
    display: flex;
}

/* Make bio-pic image  go all th way to the end of the page when expnading*/
/* .about img {
    display: flex;
} */

h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 600; 
    text-align:center;
}

.about h2{
    text-align:left;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 500; 
}

p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    max-width: 33em;
}
.services {
    display:flex;
    background-color: #f5f5f5;
    width: 100%;
}
/* Find out a way to make the subtitle 'What I can do for you...' not in a colomn with the rest of the information */
.services h2 {
    /* display:flex;
    flex-direction: row; */
    text-align:left;
}

.services div {
  width:50%;
  padding: .5em;
  display:flex;
  flex-direction: column;
}

/* Create backgrounds behind each service and buttins for the 'Learn More' */
/* .service-1
.service-2
.service-3 */

#my-work p{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact-me p{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .services p {
    flex-grow: 1;
} */

/* .social-icons div{
    display:block;
    justify-content: space-evenly;
} */

/* .social-icons div{
    display:flex;
    flex-direction: row;
} */


/* Fix everything going on with the grid */
.portfolio-pieces {
    display:grid;
    /* grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr; */
    grid-column-gap:0px;
    grid-row-gap: 0px;
}

.piece-1 {
    grid-column: 1/ span 3;
    grid-row: 1;
    grid-column-gap:0px;
    grid-row-gap: 0px;
}

.piece-2 {
    grid-column: 2/ span 3;
    grid-row: 1;
}

.piece-3 {
    grid-column: 1/ span 2;
    grid-row: 2;
}

.piece-4 {
    grid-column: 2/ span 2;
    grid-row: 2;
}

.piece-5 {
    grid-column: 3/ span 2;
    grid-row: 2;
}

.block-quotes {
    display:flex;
    background-color: black;
    width: 100%;
    color:white;
}

/* .block-quotes div {
    width:50%;
    padding: .5em;
    display:flex;
    flex-direction: column;
  } */

blockquote {
    max-width: 33em;
}
/* Make the blockquotes italic and lined up correctly */

/* Make the icons horizontal and centered (probably with flex) */
.social-icons {
    width:35px;
}

footer{
    display:flex;
    background-color: black;
    width: 100%;
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}