html{
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing:inherit;
}


/* div {
    max-width: ;
} */

/* img{
    max-width: 1200px;
    margin: 0 auto;
} */ 

header {
    background-color: black;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-size: 100%;
}

nav ul {
    padding:0;
    margin:0;
    display:flex;
    justify-content:flex-end;
   
}

/* Find a way to make everything at the top line up */
nav ul li {
    padding-right:1rem;
    padding-left:1rem;
    margin:0;
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
    color: white;
}

nav p {
    padding-right:1rem;
    padding-left:1rem;
    margin:1rem;
    display:flex;
    justify-content:flex-start;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: white;
}

nav a:link,
nav a:visited{
    color:white;
    text-decoration: none;
}

nav a:hover,
nav a:focus{
    color:#aad7d2;
    text-decoration: none;
}

header img {
    width:100%;
    padding: 2.5rem ;
    background-color: black;
}


.about {
    display: flex;
}

/* Make bio-pic image  go all th way to the end of the page when expnading*/
.about img {
    display: flex;
    justify-content:flex-end;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 600; 
    text-align:center;
}

.about h2{
    text-align:left;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 500; 
}

p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    max-width: 33em;
}

/* Find out a way to make the subtitle 'What I can do for you...' in the gray background */
.services {
    display:flex;
    background-color: #f5f5f5;
    background-size: 200em;
    /* width: 200em; */
    max-width: 100%;
}
#services h2 {
    text-align:center;
}

.services div {
  width:50%;
  padding: .5em;
  display:flex;
  flex-direction: column;
}

.services a{
    padding: .1em .25em .1em .25em;
    border-radius:4px;
    /* display:inline; */
    font-family: 'Arimo', sans-serif;
    font-weight:400;
}

.services a:link, 
.services a:visited{
    background-color:black;
    color:white;
    border:1px solid black;
    text-decoration: none;
  }

  
.services a:hover,
.services a:focus{
    background-color:white;
    color: black;
    border:2px solid black;
  }

.services p {
    flex-grow: 1;
}

/* Create backgrounds behind each service and buttins for the 'Learn More' */
.service-1{
    background-color:white;
    border:1px solid #bcbcbc;
    padding: .1em .25em .1em .25em;
    border-radius:4px;
}
/* .service-2
.service-3 */

#my-work p{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact-me p{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .social-icons div{
    display:block;
    justify-content: space-evenly;
} */

/* .social-icons div{
    display:flex;
    flex-direction: row;
} */


/* Fix everything going on with the grid */
.portfolio-pieces {
    display:grid;
    /* grid-template-columns: repeat(1fr); */
    grid-template-columns: repeat(6/ 1fr);
    /* margin: 0;
    padding: 0; */
    grid-gap: 0px;
    justify-items: stretch;
    align-items: center;
}

.piece-1 {
    grid-column: 1/ span 3;
    grid-row: 1;
    justify-self:stretch;
    /* margin: 0; */
    
}

.piece-2 {
    grid-column: 4/ span 7;
    grid-row: 1;
    
    /* margin: 0; */
}

.piece-3 {
    grid-column: 1/ span 2;
    grid-row: 2;
    justify-self:stretch;
    /* margin: 0; */
}

.piece-4 {
    grid-column: 3/ span 2;
    grid-row: 2;
    /* margin: 0; */
}

.piece-5 {
    grid-column: 5/ span 2;
    grid-row: 2;
    /* margin: 0; */
}

.block {
    display:flex;
    background-color: black;
    width: 100%;
    color:white;
}

/* .block-quotes div {
    width:50%;
    padding: .5em;
    display:flex;
    flex-direction: column;
  } */

.block div {
    width:50%;
    padding: .5em;
    display:flex;
    flex-direction: column;
  }
/* some issues here have to be fixed */

.block p{
    font-weight:400;
    font-size: .70rem;
    color: #bcbcbc;
}
blockquote {
    font-family: 'Arimo', sans-serif;
    font-weight:400;
    font-size: .85rem;
    font-style: italic;
    text-align:center;
    max-width: 33em;
}


/* .block p{
    flex-grow: 1;
} */

/* Make the blockquotes italic and lined up correctly */

/* Make the icons horizontal and centered (probably with flex) */
.social-icons {
    width:35px;
}

footer{
    display:flex;
    background-color: black;
    width: 100%;
    color:white;
}

footer p{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}